.completed {
    text-decoration: line-through;
    color: grey;
  }
  .completed-task {
    background-color: lightgreen;
  }
  .transparent-button {
    background-color: transparent;
    border: none; // Opzionale, se vuoi rimuovere anche il bordo
  }
  
  