<nav>
    <ol>
      <li>   
         <a routerLink="/todo-list">Vai alla To-Do List</a>
        </li>
        <li>
            <a routerLink="/generate-password">Vai al generatore di password</a>
        </li>
        <li>
            <a routerLink="/time">Vai al time</a>
        </li>
        <li>
            <a routerLink="/converter-valuta">Vai al convertitore di valuta</a>
        </li>
        <li>
            <a routerLink="/chat">Vai alla chat Real-Time WebSockets</a>
        </li>
        <li>
            <a routerLink="/QrCode">Vai al generatore di QrCode </a>
        </li>
        <li>
            <a routerLink="/meteo">Vai alle previsioni meteo </a>
        </li>
        <li>
            <a routerLink="/gestione-spese">Vai alle gestioni spese</a>
        </li>
        <li>
            <a routerLink="/simple-blog">Vai al blog</a>
        </li>
        <li>
            <a routerLink="/calculator">Vai alla calcolatrice</a>
        </li>
        
    </ol>
  </nav>